:root {
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --white: hsl(0, 0%, 100%);
    --orange: hsl(28, 100%, 52%);
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}

@font-face {
    font-family: "bricolage-grotesque";
    src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: "dm-sans";
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    background-color: var(--neutral-900);
    color: var(--white);
}

body > * {
    width: 92%;
}

/* navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.logo {
    width: 9rem;
}

.units-dropdown {
    display: flex;
    padding: .5rem .55rem;
    border-radius: .4rem;
    gap: .4rem;
    align-items: center;
    font-family: "bricolage-grotesque";
    background-color: var(--neutral-800);
    color: var(--neutral-200);
}

.units-settings {
    width: .9rem;
}

.settings-title {
    font-size: .85rem;
}

.dropdown-img {
    width: .7rem;
}

/* search card styling */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.search-card {
    display: flex;
    gap: 2.75rem;
    flex-direction: column;
    align-items: center;
}

.site-intro {
    text-align: center;
    font-family: "bricolage-grotesque";
    font-size: 3.45rem;
    font-weight: 550;
    line-height: 4rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    width: 100%;
}

.search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-bar {
    background-color: var(--neutral-800);
    border: none;
    outline: none;
    color: var(--white);
    font-family: "dm-sans";
    font-size: 1.25rem;
    width: 100%;
    padding: .9rem 3.75rem;
    border-radius: .75rem;
}

.search-bar::placeholder {
    color: var(--neutral-200);
}

.search-icon {
    position: absolute;
    left: 25px;
}

.search-button {
    width: 100%;
    background-color: var(--blue-500);
    color: var(--white);
    border: none;
    font-size: 1.25rem;
    padding-block: 1rem;
    border-radius: .75rem;
    font-family: "dm-sans";
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--blue-700);
}