:root {
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --white: hsl(0, 0%, 100%);
    --orange: hsl(28, 100%, 52%);
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}

@font-face {
    font-family: "bricolage-grotesque";
    src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: "dm-sans";
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--neutral-900);
    color: var(--white);
}

body > * {
    width: 92%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.logo {
    width: 9rem;
}

.units-dropdown {
    display: flex;
    padding: .5rem .55rem;
    border-radius: .4rem;
    gap: .4rem;
    align-items: center;
    font-family: "bricolage-grotesque";
    background-color: var(--neutral-800);
    color: var(--neutral-200);
}

.units-settings {
    width: .9rem;
}

.settings-title {
    font-size: .85rem;
}

.dropdown-img {
    width: .7rem;
}
