:root {
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --white: hsl(0, 0%, 100%);
    --orange: hsl(28, 100%, 52%);
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}

@font-face {
    font-family: "bricolage-grotesque";
    src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: "dm-sans";
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "dm-sans-italic";
    src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    background-color: var(--neutral-900);
    color: var(--white);
}

body > * {
    width: 92%;
}

/* navbar styling */

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    position: relative;
}

.logo {
    width: 9rem;
}

.units-dropdown {
    display: flex;
    padding: .5rem .55rem;
    border-radius: .4rem;
    gap: .4rem;
    align-items: center;
    font-family: "bricolage-grotesque";
    background-color: var(--neutral-800);
    color: var(--neutral-200);
}

.dropdown-img {
    width: .7rem;
    transition: transform .2s ease-out;
}

.units-dropdown-container {
    display: none;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 3.5rem;
    right: 0;
    z-index: 10;
    background-color: var(--neutral-800);
    padding: .5rem .5rem;
    font-family: "bricolage-grotesque";
    border-radius: .75rem;
    outline: 2px solid var(--neutral-600);
    width: 13rem;
}

.unit-switch {
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.units-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.unit-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-block: .5rem;
    cursor: pointer;
}

.unit-title {
    color: var(--neutral-300);
    font-size: .95rem;
    padding-inline: .5rem;
}

.wind-units {
    border-top: 1px solid var(--neutral-600);
    border-bottom: 1px solid var(--neutral-600);
}

.unit-item {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: .5rem;
}

.unit-switch:hover, .unit-item:hover {
    background-color: var(--neutral-600);
}

.active-switch {
    background-color: var(--neutral-600);
}

.imperial-checkmark {
    display: none;
}

.units-settings {
    width: .9rem;
}

.settings-title {
    font-size: .85rem;
}

/* search card styling */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
}

.search-card {
    display: flex;
    gap: 2.75rem;
    flex-direction: column;
    align-items: center;
}

.site-intro {
    text-align: center;
    font-family: "bricolage-grotesque";
    font-size: 3.45rem;
    font-weight: 550;
    line-height: 4rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    width: 100%;
}

.search-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    gap: .75rem;
    position: relative;
}

.search-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar {
    background-color: var(--neutral-800);
    border: none;
    outline: none;
    color: var(--white);
    font-family: "dm-sans";
    font-size: 1.25rem;
    min-width: 100%;
    padding: .9rem 3.75rem;
    border-radius: .75rem;
}

.search-bar::placeholder {
    color: var(--neutral-200);
}

.search-icon {
    position: absolute;
    left: 25px;
}

.results-bar {
    display: none;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    border-radius: .75rem;
    background-color: var(--neutral-800);
    padding: .5rem;
    position: absolute;
    top: 120%;
    max-height: 11.7rem;
    overflow-y: scroll;
}

.loading-img {
    width: 1.25rem;
    animation: spin 1.25s infinite;
}

.result-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
    font-family: 'dm-sans';
    padding: .5rem;
    font-weight: bold;
    border-radius: .5rem;
}

.result-container:hover {
    background-color: var(--neutral-700);
    outline: 2px solid var(--neutral-600);
}

.country-flag {
    object-fit: cover;
    width: 1.75rem;
}

.search-button {
    width: 100%;
    background-color: var(--blue-500);
    color: var(--white);
    border: none;
    font-size: 1.25rem;
    padding-block: 1rem;
    border-radius: .75rem;
    font-family: "dm-sans";
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--blue-700);
}

/* weather summary styling */

.weather-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.weather-summary {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.weather-summary-main {
    display: flex;
    gap: .7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/bg-today-small.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    font-family: "dm-sans";
    padding-block: 2.5rem;
}

.location {
    font-size: 1.75rem;
}

.date {
    font-size: 1.15rem;
    color: var(--neutral-200);
}

.main-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: "dm-sans-italic";
    font-weight: 300;
}

.main-weather-img {
    width: 7.5rem;
}

.main-temp-display {
    font-size: 6rem;
}

.secondary-weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    font-family: "dm-sans";
}

.secondary-weather-card {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--neutral-800);
    color: var(--neutral-200);
    padding: 1rem 1.25rem .8rem 1.25rem;
    border-radius: .75rem;
    border: 2px solid var(--neutral-700);
}

.secondary-header {
    font-size: 1.12rem;
    font-weight: bold;
    color: var(--neutral-300);
}

.secondary-display {
    font-size: 2rem;
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "dm-sans";
}

.daily-forecast-title {
    font-size: 1.25rem;
    color: var(--neutral-200);
}

.daily-forecast-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.daily-forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    background-color: var(--neutral-800);
    border: 2px solid var(--neutral-700);
    padding: .75rem .5rem;
    border-radius: .75rem;
}

.weekday {
    font-size: 1.12rem;
}
    
.daily-img {
    width: 4rem;
}

.high-low-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hourly-forecast-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-800);
    padding: 0 1rem 1.25rem 1rem;
    font-family: 'dm-sans';
    border-radius: 1.25rem;
    max-height: 41rem;
    overflow-y: scroll;
}

.day-selection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--neutral-800);
    padding-block: .75rem;
}

.hourly-forecast-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.day-selector {
    display: flex;
    gap: .75rem;
    background-color: var(--neutral-600);
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.day-option {
    color: var(--neutral-200);
    font-weight: bold;
}

.day-icon {
    width: .85rem;
    transition: transform .2s ease-out;
}

.half-spin-anim {
    transform: rotate(180deg);
}

.day-options {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.25rem;
    padding: .5rem;
    border-radius: .75rem;
    font-size: 1.12rem;
    width: 15rem;
    background-color: var(--neutral-800);
    gap: .5rem;
    outline: 2px solid var(--neutral-600);
}

.day {
    cursor: pointer;
    padding: .75rem;
    border-radius: .5rem;
}

.day:hover {
    background-color: var(--neutral-700);
}

.hourly-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-700);
    border: 1.5px solid var(--neutral-600);
    padding: .5rem .75rem;
    border-radius: .5rem;
}

.hour-container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.hourly-icon {
    width: 2.5rem;
}

.hourly-time {
    font-size: 1.25rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes half-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@media (min-width: 1250px) {
    .weather-info {
        display: grid;
        width: 90%;
        max-width: 80rem;
    }

    .weather-summary {
        grid-column: 1 / 4;
    }

    .weather-summary-main {
        background-image: url('./assets/images/bg-today-large.svg');
    }

    .secondary-weather-info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .secondary-weather-card {
        width: 25%;
    }

    .daily-forecast {
        display: block;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .daily-forecast-cards {
        display: flex;
        justify-content: space-between;
    }

    .daily-forecast-card {
        width: 20%;
    }

    .hourly-forecast-container {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}